<!-- Partners Section -->
<section id="partners">
    <div class="container">
        <!-- Venue Partners -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Socios estratégicos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="partner-category">Venue Partners</h3>
                <div class="row" id="venue-partners-row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="https://www.ucsg.edu.ec" target="_blank">
                            <img src="img/logos/ucsg.png" class="img-responsive partner-logo" alt="Universidad Católica de Santiago de Guayaquil - Ecuador">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="https://uees.edu.ec" target="_blank">
                            <img src="img/logos/uees.png" class="img-responsive partner-logo" alt="Universidad Espíritu Santo - Ecuador">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <a href="https://www.espol.edu.ec/es" target="_blank">
                            <img src="img/logos/logo_espol.png" class="img-responsive partner-logo" alt="Escuela Superior Politécnica del Litoral - Ecuador">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Media Partners Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="partner-category">Media Partners</h3>
                <div class="row" id="media-partners-row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="https://openlab.ec" target="_blank">
                            <img src="img/logos/logo_openlabec.png" class="img-responsive partner-logo" alt="OpenLAB EC">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="https://epico.gob.ec" target="_blank">
                            <img src="img/logos/épico.png" class="img-responsive partner-logo" alt="ÉPICO">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <a href="https://www.condorcoders.com" target="_blank">
                            <img src="img/logos/condorcoders.png" class="img-responsive partner-logo" alt="Condor Coders">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tech Partners Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="partner-category">Tech Partners</h3>
                <div class="row" id="tech-partners-row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="https://gdg.community.dev/gdg-guayaquil" target="_blank">
                            <img src="img/logos/gdg-guayaquil.png" class="img-responsive partner-logo" alt="GDG Guayaquil">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="https://innovatlatam.com" target="_blank">
                            <img src="img/logos/innova-t-latam-2024.png" class="img-responsive partner-logo" alt="Innova-T LATAM 2024">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <a href="https://www.nftslatam.art" target="_blank">
                            <img src="img/logos/ntfs-latam-art.png" class="img-responsive partner-logo" alt="NTFs LATAM">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sponsors Row -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <h3 class="partner-category">Patrocinadores</h3>
                <div class="row" id="sponsors-row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <a href="https://sponsor1.com" target="_blank">
                            <img src="img/logos/sponsor1.png" class="img-responsive partner-logo" alt="Patrocinador 1">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <a href="https://sponsor2.com" target="_blank">
                            <img src="img/logos/sponsor2.png" class="img-responsive partner-logo" alt="Patrocinador 2">
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
