<!-- Team Section -->
    <section id="team">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizadores</h2>
                    <h3 class="section-subheading text-muted">El equipo que hace posible HacktoberfestGYE 2024.</h3>
                </div>
            </div>
            <div class="row d-flex align-items-stretch" id="organizers-row">
                <!-- Organizador 1 -->
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer1.com" target="_blank">
                        <img src="img/logos/funpython.png" class="img-responsive organizer-logo" alt="Funpython" width="300" height="300">
                    </a>
                </div>
                <!-- Organizador 2 -->
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer2.com" target="_blank">
                        <img src="img/logos/kernel.png" class="img-responsive organizer-logo" alt="Kernel Chaos" width="300" height="300">
                    </a>
                </div>
                <!-- Organizador 3 -->
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer3.com" target="_blank">
                        <img src="img/logos/herux.png" class="img-responsive organizer-logo" alt="Herux" width="300" height="300">
                    </a>
                </div>
                <!-- Organizador 4 -->
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer4.com" target="_blank">
                        <img src="img/logos/phycom.png" class="img-responsive organizer-logo" alt="Phycom">
                    </a>
                </div>
                <!-- Organizador 5 -->
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer5.com" target="_blank">
                        <img src="img/logos/pythonecuador.png" class="img-responsive organizer-logo" alt="Python Ecuador" width="250" height="250">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer7.com" target="_blank">
                        <img src="img/logos/aws-ecuador.svg" class="img-responsive organizer-logo" alt="AWS Ecuador" width="300" height="300">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer8.com" target="_blank">
                        <img src="img/logos/wordpress_guayaquil.png" class="img-responsive organizer-logo" alt="Wordpress Guayaquil" width="300" height="300">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 item-logo">
                    <a href="https://organizer9.com" target="_blank">
                        <img src="img/logos/area51.png" class="img-responsive organizer-logo" alt="Area 51" width="300" height="300">
                    </a>
                </div>
            </div>
        </div>
    </section>

    