---
import Layout from '../layouts/Layout.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="HacktoberfestGYE - Evento de Código Abierto">
	<section class="container mx-auto px-4 lg:px-0">
		<CTA 
			title='¡Acompáñanos en el Hacktoberfest!'
			summary='Tu involucramiento es importante. ¡Ven a contribuir a tu proyecto de software libre favorito, y aprender en el proceso!' 
			buttonUrl='https://forms.gle/Qyeoc46c8NSkqeNNA'
			buttonText='Regístrate y hackea código'
		/>

		<CTA 
			title='Registro de Speakers'
			summary='Comparte tus conocimientos y experiencia en Hacktoberfest.' 
			buttonUrl='https://forms.gle/2mH4fi7n9ukJPXPr9'
			buttonText='Regístrate como Speaker'
		/>
	</section>
</Layout>
