---
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import CTA from "../components/CTA.astro";
import Gallery from "../components/Gallery";
import Faq from "../components/Faq.astro";
import Team from "../components/Team.astro";
import Partners from "../components/Partners.astro";
---

<Layout
  title="HacktoberfestGYE - Evento de Código Abierto"
  description="Hacktoberfest es un evento anual de código abierto que celebra la colaboración y la contribución al software de código abierto. Durante el mes de octubre, los participantes son alentados a hacer contribuciones a proyectos de código abierto para ganar premios y reconocimientos"
>
  <header>
    <Navbar showMenu={true} client:load />
  </header>
  <Hero />
  <div class="container mx-auto px-4 xl:px-0">
    <Features />
    <CTA
      idSection="register-participants"
      title="¡Acompáñanos en el Hacktoberfest!"
      summary="Tu involucramiento es importante. ¡Ven a contribuir a tu proyecto de software libre favorito, y aprender en el proceso!"
      buttonUrl="https://forms.gle/Qyeoc46c8NSkqeNNA"
      buttonText="Regístrate y hackea código"
    />
    <Gallery client:idle />
+    <CTA
+      idSection="repo-list"
+      title="¿No sábes dónde contribuir?"
+      summary="Hemos preparados algunos repositorios en los que podemos darte apoyo. Por favor, ¡revísalos!"
+      buttonUrl="/repos"
+      buttonText="Forkea los repos"
+    />
    <Team />
    <CTA
      idSection="mentor-list"
      title="¡Conoce a nuestros mentores!"
      summary="Programar es difícil, con todo lo que hay que aprender. ¡No hay pánico!, tenemos mentores que están dispuestos a ayudarte."
      buttonUrl="/mentors"
      buttonText="Acércate con toda confianza."
    />
    <Faq />
    <CTA
      idSection="register-speakers"
      title="Registro de Speakers"
      summary="Comparte tus conocimientos y experiencia en Hacktoberfest."
      buttonUrl="https://forms.gle/2mH4fi7n9ukJPXPr9"
      buttonText="Regístrate como Speaker"
    />
    <Partners />
  </div>
</Layout>
