---

---

<section id="hero" class="bg-secondary relative lg:min-h-[45rem]">
  <div class="absolute bottom-0 left-0 right-0 top-0 bg-radial-gradient"></div>
  <div class="container mx-auto px-4 lg:px-0 py-20 md:py-24 lg:py-28">
    <div class="flex w-full h-full items-center justify-center">
      <img
        class="pt-10 lg:pt-20"
        style="filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3));"
        width="700"
        height="250"
        src="/logo-hacktober.webp"
        alt="Hacktober"
        loading="eager"
      />
    </div>
  </div>
</section>
