---
const logos = [
  {
    url: '#',
    image: '/images/logos/kernel.png',
  },
  {
    url: '#',
    image: '/images/logos/herux.png',
  },
  {
    url: '#',
    image: '/images/logos/phycom.png',
  },
  {
    url: '#',
    image: '/images/logos/pythonecuador.png',
  },
  {
    url: '#',
    image: '/images/logos/aws-ecuador.svg',
  },
  {
    url: '#',
    image: '/images/logos/wordpress_guayaquil.png',
  },
  {
    url: '#',
    image: '/images/logos/area51.png',
  },
];
---

<section
  id="team"
  class="container mx-auto px-4 lg:px-0 py-20 md:py-24 lg:py-28"
>
  <div class="flex flex-col w-full gap-y-4 items-center text-center mb-8">
    <h2 class="text-black font-bold text-2xl lg:text-3xl/[3rem]">
      Organizadores
    </h2>
    <div class="italic text-lg mb-6">
      El equipo que hace posible HacktoberfestGYE 2024.
    </div>
  </div>
  <div class="flex flex-row flex-wrap gap-8 justify-center">
    {
      logos.map(({ url, image }) => (
        <a href={url} target="_blank">
          <img
            class="h-24 w-32 object-scale-down"
            src={image}
            loading="lazy"
            width="200"
            height="100"
          />
        </a>
      ))
    }
  </div>
</section>
